In [1]:
import os, sys
from google.colab import drive
drive.mount('/content/drive')
my_path = '/content/notebooks'
os.symlink('/content/drive/My Drive/Colab Notebooks', my_path)
sys.path.insert(0,my_path)

Mounted at /content/drive

In [8]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/lmembers/03 추가데이터_통계자료, 파생자료 등/dataset/신규_기존.csv',)
df.head()

   cust_no      2014_1      2014_2  ...  2014_2_신규  2015_1_신규 2015_2_이탈
0        1  19925355.0  34116312.0  ...         기존         기존        기존
1        2  24323230.0  21922100.0  ...         기존         기존        기존
2        3    851215.0   1042554.0  ...         기존         기존        기존
3        4   5042106.0   4257510.0  ...         기존         기존        기존
4        5   5460150.0   2225730.0  ...         기존         기존        기존

[5 rows x 9 columns]

In [9]:
# 각 시점에 구매액이 있으면 기존 고객으로 분류
def cust(x1, x2, x3, x4):
    if (x1 == '기존')&(x2 == '기존')&(x3 == '기존')&(x4 == '기존'):
        return '기존'
    else:
        return '신규'
        
df['cust'] = df.apply(lambda x : cust(x['2014_1_신규'],x['2014_2_신규'],x['2015_1_신규'],x['2015_2_이탈']),axis=1)

# 기존고객만 분류한 데이터프레임 df 지정, 수치데이터만 남기고 나머지는 삭제
df = df[df['cust'] == '기존']
df = df.iloc[:,:-5]

# 분석 대상 target : 2015년 하반기, 2014년 상반기 구매금액 차이
# target_id : 구매금액 증감 여부 
df['target'] = df['2015_2'] - df['2014_1']

# 구매 증감 사용자 함수
def di(x):
    if x > 0 : return '증가'
    elif x == 0 : return '유지'
    else: return '감소'

# 구매 증감 여부 컬럼 생성
df['target_di'] = df['target'].apply(di)

# 등급 구하기
def cust_level(x):
    if x >= 34350000: return 'VIP'
    elif x >= 20150000: return '최우수'
    elif x >= 8700000: return '우수'
    elif x == 0: return '없음'
    else: return '일반'

# 각 대상 시기별 등급 컬럼 생성
df['14_1_level'] = df['2014_1'].apply(cust_level)
df['15_2_level'] = df['2015_2'].apply(cust_level)

# 2014년 상 - 2015년 하반기 등급 변화 컬럼 생성 
df['level_ch'] = df[['14_1_level', '15_2_level']].apply('_'.join, axis = 1)

df

       cust_no      2014_1      2014_2  ...  14_1_level  15_2_level  level_ch
0            1  19925355.0  34116312.0  ...          우수          우수     우수_우수
1            2  24323230.0  21922100.0  ...         최우수         최우수   최우수_최우수
2            3    851215.0   1042554.0  ...          일반          일반     일반_일반
3            4   5042106.0   4257510.0  ...          일반          일반     일반_일반
4            5   5460150.0   2225730.0  ...          일반          일반     일반_일반
...        ...         ...         ...  ...         ...         ...       ...
19355    19356    170160.0   1536090.0  ...          일반          일반     일반_일반
19356    19357     91950.0   3281346.0  ...          일반          일반     일반_일반
19358    19359     43190.0   1286327.0  ...          일반          일반     일반_일반
19359    19360    368050.0   2060040.0  ...          일반          일반     일반_일반
19363    19364   2032420.0   6743370.0  ...          일반          일반     일반_일반

[19147 rows x 10 columns]

In [4]:
import pandas as pd
purprd = pd.read_csv('/content/drive/MyDrive/lmembers/03 추가데이터_통계자료, 파생자료 등/dataset/purprd.csv')
purprd.head(3)

  channel  receipt_no  code_dae  code_jung  ... week  pur_time  period pur_week_time
0       B     8664000        15       1504  ...   주말         밤  2014_1          주말_밤
1       B     8664007        15       1504  ...   주말        오후  2014_1         주말_오후
2       B     8919520        15       1504  ...   주중         밤  2015_2          주중_밤

[3 rows x 21 columns]

In [10]:
# 분석 대상 품목별 구매금액 데이터 프레임 생성하기
purprd14_1 = purprd[purprd['period'] == '2014_1']
purprd15_2 = purprd[purprd['period'] == '2015_2']
purprd14_1.shape, purprd15_2.shape

((6709382, 21), (7247418, 21))

In [11]:
purprd['channel_item'] = purprd[['channel', 'cat_dae']].apply('_'.join, axis = 1)
pd.pivot_table(purprd, index = 'cust_no', columns = 'channel_item', values = 'pur_amount', aggfunc = 'sum')

channel_item     A_가공식품  A_가구/인테리어        A_가전  ...     D_일상용품  D_전문스포츠/레저   D_패션잡화
cust_no                                         ...
1             5886110.0  5662890.0  11153100.0  ...        NaN         NaN      NaN
2             4707110.0   938730.0   7372350.0  ...   214460.0         NaN      NaN
3                   NaN        NaN         NaN  ...        NaN         NaN      NaN
4             1826170.0   463000.0         NaN  ...        NaN         NaN      NaN
5             5655770.0   212300.0     49900.0  ...        NaN         NaN      NaN
...                 ...        ...         ...  ...        ...         ...      ...
19379            9700.0        NaN         NaN  ...  2846440.0     21000.0  49150.0
19380               NaN        NaN         NaN  ...  3016400.0         NaN      NaN
19381               NaN        NaN         NaN  ...        NaN         NaN      NaN
19382               NaN        NaN         NaN  ...        NaN         NaN      NaN
19383           10800.0        NaN         NaN  ...  1003840.0         NaN      NaN

[19383 rows x 42 columns]

In [12]:
channel_by_item_df = pd.pivot_table(purprd, index = 'cust_no', columns = 'channel_item', values = 'pur_amount', aggfunc = 'sum')

In [13]:
column_name = channel_by_item_df.columns.tolist()

In [16]:
column_name[:12]

['A_가공식품',
 'A_가구/인테리어',
 'A_가전',
 'A_교육/문화용품',
 'A_기타',
 'A_명품',
 'A_신선식품',
 'A_외식',
 'A_의류',
 'A_일상용품',
 'A_전문스포츠/레저',
 'A_패션잡화']

In [22]:
column_name[12:25]

['B_가공식품',
 'B_가구/인테리어',
 'B_가전',
 'B_교육/문화용품',
 'B_기타',
 'B_명품',
 'B_신선식품',
 'B_외식',
 'B_의류',
 'B_의약품',
 'B_일상용품',
 'B_전문스포츠/레저',
 'B_패션잡화']

In [24]:
column_name[25:35]

['C_가공식품',
 'C_가구/인테리어',
 'C_가전',
 'C_교육/문화용품',
 'C_신선식품',
 'C_의류',
 'C_의약품',
 'C_일상용품',
 'C_전문스포츠/레저',
 'C_패션잡화']

In [30]:
column_name[35:]

['D_가공식품', 'D_가전', 'D_교육/문화용품', 'D_의약품', 'D_일상용품', 'D_전문스포츠/레저', 'D_패션잡화']

In [27]:
column_name

['A_가공식품',
 'A_가구/인테리어',
 'A_가전',
 'A_교육/문화용품',
 'A_기타',
 'A_명품',
 'A_신선식품',
 'A_외식',
 'A_의류',
 'A_일상용품',
 'A_전문스포츠/레저',
 'A_패션잡화',
 'B_가공식품',
 'B_가구/인테리어',
 'B_가전',
 'B_교육/문화용품',
 'B_기타',
 'B_명품',
 'B_신선식품',
 'B_외식',
 'B_의류',
 'B_의약품',
 'B_일상용품',
 'B_전문스포츠/레저',
 'B_패션잡화',
 'C_가공식품',
 'C_가구/인테리어',
 'C_가전',
 'C_교육/문화용품',
 'C_신선식품',
 'C_의류',
 'C_의약품',
 'C_일상용품',
 'C_전문스포츠/레저',
 'C_패션잡화',
 'D_가공식품',
 'D_가전',
 'D_교육/문화용품',
 'D_의약품',
 'D_일상용품',
 'D_전문스포츠/레저',
 'D_패션잡화']

In [31]:
# 해당 시기의 각 고객의 각 제휴사별 품목, 구매비중을 구하는 사용자 함수
def channel_by_item(purprd):
  purprd['channel_item'] = purprd[['channel', 'cat_dae']].apply('_'.join, axis = 1)
  channel_by_item_df = pd.pivot_table(purprd, index = 'cust_no', columns = 'channel_item', values = 'pur_amount', aggfunc = 'sum')
  # 컬럼명
  column_name = channel_by_item_df.columns.tolist()
  # 총 구매금액 (전체 제휴사 기준)
  channel_by_item_df['sum_amt'] = channel_by_item_df[column_name].sum(axis = 1)

  # A 제휴사 최대 구매품목(idxmax)
  channel_by_item_df['max_item_A'] = channel_by_item_df[column_name[:12]].idxmax(axis = 1)
  # A 제휴사 최대 구매금액(max)
  channel_by_item_df['max_item_amt_A'] = channel_by_item_df[column_name[:12]].max(axis = 1)
  # A 제휴사 최대 구매품목의 구매비중
  channel_by_item_df['max_item_ratio_A'] = channel_by_item_df[column_name[:12]].max(axis = 1) / channel_by_item_df['sum_amt']


  # B 제휴사 최대 구매품목(idxmax)
  channel_by_item_df['max_item_B'] = channel_by_item_df[column_name[12:25]].idxmax(axis = 1)
  # B 제휴사 최대 구매금액(max)
  channel_by_item_df['max_item_amt_B'] = channel_by_item_df[column_name[12:25]].max(axis = 1)
  # b 제휴사 최대 구매품목의 구매비중
  channel_by_item_df['max_item_ratio_B'] = channel_by_item_df[column_name[12:25]].max(axis = 1) / channel_by_item_df['sum_amt']


  # C 제휴사 최대 구매품목(idxmax)
  channel_by_item_df['max_item_C'] = channel_by_item_df[column_name[25:35]].idxmax(axis = 1)
  # C 제휴사 최대 구매금액(max)
  channel_by_item_df['max_item_amt_C'] = channel_by_item_df[column_name[25:35]].max(axis = 1)
  # C 제휴사 최대 구매품목의 구매비중
  channel_by_item_df['max_item_ratio_C'] = channel_by_item_df[column_name[25:35]].max(axis = 1) / channel_by_item_df['sum_amt']


  # D 제휴사 최대 구매품목(idxmax)
  channel_by_item_df['max_item_D'] = channel_by_item_df[column_name[35:]].idxmax(axis = 1)
  # D 제휴사 최대 구매금액(max)
  channel_by_item_df['max_item_amt_D'] = channel_by_item_df[column_name[35:]].max(axis = 1)
  # D 제휴사 최대 구매품목의 구매비중
  channel_by_item_df['max_item_ratio_D'] = channel_by_item_df[column_name[35:]].max(axis = 1) / channel_by_item_df['sum_amt']


  return channel_by_item_df

def channel_by_item_comparison(df, purprd1, purprd2):
  # 1번 데이터프레임
  channel_by_item1 = channel_by_item(purprd1)
  column_name1 = channel_by_item1.columns.tolist()
  # 1번 데이터프레임 컬럼명 변경
  channel_by_item1.columns = [x + '1' for x in column_name1]
  channel_by_item1.reset_index(inplace = True)

  # 2번 데이터프레임
  channel_by_item2 = channel_by_item(purprd2)
  column_name2 = channel_by_item2.columns.tolist()
  
  # 2번 데이터프레임 컬럼명 변경
  channel_by_item2.columns = [x + '2' for x in column_name2]
  channel_by_item2.reset_index(inplace = True)

  # 1,2번 데이터프레임 merge
  channel_by_item_df = pd.merge(channel_by_item1, channel_by_item2, on = 'cust_no')
  channel_by_item_df = pd.merge(df, channel_by_item_df, on = 'cust_no')

  return channel_by_item_df

comparison_by_item_channel = channel_by_item_comparison(df, purprd14_1, purprd15_2)
comparison_by_item_channel

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       cust_no      2014_1  ...  max_item_amt_D2  max_item_ratio_D2
0            1  19925355.0  ...              NaN                NaN
1            2  24323230.0  ...          42000.0           0.001625
2            3    851215.0  ...              NaN                NaN
3            4   5042106.0  ...              NaN                NaN
4            5   5460150.0  ...          29300.0           0.011199
...        ...         ...  ...              ...                ...
19142    19356    170160.0  ...              NaN                NaN
19143    19357     91950.0  ...              NaN                NaN
19144    19359     43190.0  ...              NaN                NaN
19145    19360    368050.0  ...         324050.0           0.365720
19146    19364   2032420.0  ...        3926050.0           0.919407

[19147 rows x 120 columns]

In [33]:
comparison_by_item_channel.head(3)

   cust_no      2014_1  ...  max_item_amt_D2  max_item_ratio_D2
0        1  19925355.0  ...              NaN                NaN
1        2  24323230.0  ...          42000.0           0.001625
2        3    851215.0  ...              NaN                NaN

[3 rows x 120 columns]

In [69]:
# 관심있는 컬럼만 선택
cdf = comparison_by_item_channel[['cust_no', 'level_ch', 'target_di',
                                  'max_item_A1', 'max_item_ratio_A1', 'max_item_B1', 'max_item_ratio_B1', 'max_item_C1', 'max_item_ratio_C1', 'max_item_D1', 'max_item_ratio_D1',
                                  'max_item_A2', 'max_item_ratio_A2', 'max_item_B2', 'max_item_ratio_B2', 'max_item_C2', 'max_item_ratio_C2', 'max_item_D2', 'max_item_ratio_D2']]
cdf

       cust_no level_ch  ... max_item_D2 max_item_ratio_D2
0            1    우수_우수  ...         NaN               NaN
1            2  최우수_최우수  ...      D_일상용품          0.001625
2            3    일반_일반  ...         NaN               NaN
3            4    일반_일반  ...         NaN               NaN
4            5    일반_일반  ...      D_가공식품          0.011199
...        ...      ...  ...         ...               ...
19142    19356    일반_일반  ...         NaN               NaN
19143    19357    일반_일반  ...         NaN               NaN
19144    19359    일반_일반  ...         NaN               NaN
19145    19360    일반_일반  ...      D_일상용품          0.365720
19146    19364    일반_일반  ...      D_일상용품          0.919407

[19147 rows x 19 columns]

In [71]:
# 2기로 잘못쓴거 4기로 컬럼명 변경
cdf.columns = ['cust_no', 'level_ch', 'target_di',
              'max_item_A1', 'max_item_ratio_A1', 'max_item_B1', 'max_item_ratio_B1', 'max_item_C1', 'max_item_ratio_C1', 'max_item_D1', 'max_item_ratio_D1',
              'max_item_A4', 'max_item_ratio_A4', 'max_item_B4', 'max_item_ratio_B4', 'max_item_C4', 'max_item_ratio_C4', 'max_item_D4', 'max_item_ratio_D4']
cdf.head()

   cust_no level_ch target_di  ... max_item_ratio_C4  max_item_D4 max_item_ratio_D4
0        1    우수_우수        감소  ...          0.005490          NaN               NaN
1        2  최우수_최우수        증가  ...               NaN       D_일상용품          0.001625
2        3    일반_일반        감소  ...          0.517936          NaN               NaN
3        4    일반_일반        감소  ...          0.041449          NaN               NaN
4        5    일반_일반        감소  ...               NaN       D_가공식품          0.011199

[5 rows x 19 columns]

In [72]:
# A_, B_, C_, D_, 데이터값에서 삭제

import warnings
warnings.filterwarnings('ignore')

cdf['max_item_A1'] = cdf['max_item_A1'].astype(str).apply(lambda x : re.sub('A_', '', x))
cdf['max_item_A4'] = cdf['max_item_A4'].astype(str).apply(lambda x : re.sub('A_', '', x))

cdf['max_item_B1'] = cdf['max_item_B1'].astype(str).apply(lambda x : re.sub('B_', '', x))
cdf['max_item_B4'] = cdf['max_item_B4'].astype(str).apply(lambda x : re.sub('B_', '', x))

cdf['max_item_C1'] = cdf['max_item_C1'].astype(str).apply(lambda x : re.sub('C_', '', x))
cdf['max_item_C4'] = cdf['max_item_C4'].astype(str).apply(lambda x : re.sub('C_', '', x))

cdf['max_item_D1'] = cdf['max_item_D1'].astype(str).apply(lambda x : re.sub('D_', '', x))
cdf['max_item_D4'] = cdf['max_item_D4'].astype(str).apply(lambda x : re.sub('D_', '', x))

cdf.head(3)

   cust_no level_ch target_di  ... max_item_ratio_C4  max_item_D4 max_item_ratio_D4
0        1    우수_우수        감소  ...          0.005490          nan               NaN
1        2  최우수_최우수        증가  ...               NaN         일상용품          0.001625
2        3    일반_일반        감소  ...          0.517936          nan               NaN

[3 rows x 19 columns]

In [2]:
import pandas as pd

pd.read_csv('C:/Users/han71/Documents/카카오톡 받은 파일/독립변수_1004_수정.csv')

,cust_no,level_ch,target_di,max_item_A1,max_item_ratio_A1,item_cnt_A1,max_item_B1,max_item_ratio_B1,item_cnt_B1,max_item_C1,...,max_item_C4,max_item_ratio_C4,item_cnt_C4,max_item_D4,max_item_ratio_D4,item_cnt_D4,channel_cnt1,channel_cnt4,channel_cnt_ch,channel_status
0,1,우수_우수,감소,의류,0.482420,8,외식,0.001094,1,신선식품,...,신선식품,0.005490,3,NaN,NaN,0,3,3,0,불변
1,2,최우수_최우수,증가,일상용품,0.356117,9,일상용품,0.001254,1,NaN,...,NaN,NaN,0,일상용품,0.001625,2,2,2,0,불변
2,3,일반_일반,감소,의류,0.093983,1,NaN,NaN,0,가공식품,...,가공식품,0.517936,4,NaN,NaN,0,2,1,-1,감소
3,4,일반_일반,감소,의류,0.450734,7,가공식품,0.005514,5,신선식품,...,신선식품,0.041449,6,NaN,NaN,0,3,3,0,불변
4,5,일반_일반,감소,가공식품,0.369221,9,신선식품,0.002930,1,NaN,...,NaN,NaN,0,가공식품,0.011199,1,2,2,0,불변
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19142,19356,일반_일반,증가,NaN,NaN,0,NaN,NaN,0,가공식품,...,가공식품,0.520614,5,NaN,NaN,0,1,2,1,증가
19143,19357,일반_일반,증가,의류,0.467645,2,가공식품,0.322458,2,NaN,...,NaN,NaN,0,NaN,NaN,0,2,2,0,불변
19144,19359,일반_일반,증가,NaN,NaN,0,NaN,NaN,0,신선식품,...,가공식품,0.728336,4,NaN,NaN,0,1,1,0,불변
19145,19360,일반_일반,증가,NaN,NaN,0,NaN,NaN,0,NaN,...,NaN,NaN,0,일상용품,0.365720,4,1,2,1,증가
19146,19364,일반_일반,증가,전문스포츠/레저,0.165763,1,NaN,NaN,0,NaN,...,NaN,NaN,0,일상용품,0.919407,5,2,2,0,불변